.card{
    background-color: rgb(248,250,255);
    /* background-color: #EDE9E8; */
    box-shadow: 0rem 1rem 3rem rgba(0,0,0,.3);
    border-radius: 15px;
    padding:1rem 2rem;
    
    /* align-items: center; */
}